@page "/"

<head>
    <!-- React via CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- Our custom widget bundle -->
    <script src="~/js/lwrp-widget.js"></script>
</head>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
