@page "/lwrp"

<PageTitle>LWRP Control</PageTitle>

<h1>LWRP Control</h1>

<p>This page controls the Axia Livewire device via the API.</p>

<div class="row">
    <div class="col-12 col-lg-8">
        <h3>React widget</h3>
        <!-- React will mount into this div -->
        <div id="lwrp-react-root"></div>
    </div>
</div>

@code {
    // nothing here yet – the React widget will be initialized via JS
}
