<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Lwrp.WebUi.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- React via CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- Our custom widget bundle -->
    <script src="js/lwrp-widget.js"></script>
    <HeadOutlet />

    

</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
